
<div class="circle-box">
  <div class="circle">
    <img src="/assets/images/capricorn.png" class="capricorn" alt="capricorn" (click)="selected('capricorn')">
    <img src="/assets/images/aquarius.png" class="aquarius" alt="aquarius" (click)="selected('aquarius')">
    <img src="/assets/images/pisces.png" class="pisces" alt="pisces" (click)="selected('pisces')">
    <img src="/assets/images/aries.png" class="aries" alt="aries" (click)="selected('aries')">
    <img src="/assets/images/taurus.png" class="taurus" alt="taurus" (click)="selected('taurus')">
    <img src="/assets/images/gemini.png" class="gemini" alt="gemini" (click)="selected('gemini')">
    <img src="/assets/images/cancer.png" class="cancer" alt="cancer" (click)="selected('cancer')">
    <img src="/assets/images/leo.png" class="leo" alt="leo" (click)="selected('leo')">
    <img src="/assets/images/virgo.png" class="virgo" alt="virgo" (click)="selected('virgo')">
    <img src="/assets/images/libra.png" class="libra" alt="libra" (click)="selected('libra')">
    <img src="/assets/images/scorpio.png" class="scorpio" alt="scorpio" (click)="selected('scorpio')">
    <img src="/assets/images/sagittarius.png" class="sagittarius" alt="aquarius" (click)="selected('sagittarius')">
  </div>
</div>
